.footer{
    padding: 50px 0px;
    background-color: #eeeaff;
    width:100%;
    margin-top: auto;
}
.footer-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    column-gap: 2rem;
    background-color: #eeeaff;
}
.footer-box{
    line-height: 1.2rem;
    margin-top: 20px;
}
.footer-title{
    font-size: 1.2rem;
    margin-bottom: 20px;
    margin-left: 35px;
}
.footerlinks li{
    line-height: 28px;
    color: var(--heading-color);

}

.footerlinks li a{
    cursor: pointer;
}
.footerlinks li a:hover{
    color:var(--primary-color);
}